body {
  margin:0;
  font-family: Arial, sans-serif;
  background-color:purple;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #222;
}

.logo {
  color:purple;
  font-size:24px;
  font-weight:lighter;
}

.navigation-links {
  display:flex;
  gap: 25px;
}

.navigation-links a {
  font-weight:bolder;
  color:purple;
}

.navigation-links a:hover {
  text-decoration:underline;
  color:white;
}

h1 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:25px;
  text-align:center;
}

h2 {
  font-family:'Courier New', Courier, monospace;
  font-size:17px;
  text-align:left;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size:12px;
  line-height:12px;
  text-align:center;
}

.button {
  background-color:black;
  color:purple;
  padding:5px 5px;
  

}